$downloadPage__orange: #ef3f3f;

.download-page-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.download-page-buttons-container {
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  font-size: 20px;
  font-size: 18px;

  @media (max-width: 765px) {
    width: 100%;
  }

  @media (min-width: 765px) {
    text-align: left;
    align-items: flex-start;
  }
}

.download-page-buttons {
  display: flex;
  gap: 15px;

  button {
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  @media (min-width: 765px) {
    border: none;
    padding: 5px;
    border-radius: 5px;
    button {
      width: 15vh;
      height: fit-content;
      font-size: 16px;
    }
  }

  @media (min-width: 1000px) {
    font-size: 16px;
  }
}

.download-page-icons {
  margin-right: 5px;
}

.download-page-title {
  margin: 10px;

  @media (min-width: 765px) {
    margin-left: 0;
    font-size: 24px;
  }
  @media (min-width: 1023) {
    font-size: 28px;
  }
}

.download-page-android {
  color: $downloadPage__orange;
  background-color: #ffffff;
  cursor: pointer;
}
.download-page-iOS {
  background-color: $downloadPage__orange;
  color: #ffffff;
  cursor: pointer;
}

.download-page-photo-Container {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 765px) {
    display: none;
  }
}

.downloadPage__picture {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
