.restaurantList__page{
    .restaurant-list{
        .restaurant-list-header{
            display: none;
            @media (min-width:765px) {
                display: flex;
            }
        }
    }
}

.restaurantList__flex{
    @media (min-width:765px) {
        display: flex;
        justify-content: space-between;
        .restaurant-list{
            padding-top: 20px;
            width: 75%;
        }
        .restaurantFilterDesktop{
            width: 100%;
        }
    }
}