.restaurantList__flex {
  @media (min-width: 765px) {
    display: flex;
    justify-content: space-between;
    .restaurant-list {
      width: 75%;
    }

    .restaurantFilterDesktop {
      width: 100%;
    }
  }
}
