$restaurantFilter__white: #fff;

.restaurantFilter__container {
  background-color: $restaurantFilter__white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: 765px) {
    box-shadow: 0 2px 5px 1px lightgrey;
  }
}

.restaurantFilter__container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.restaurantFilter__container-header-title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.restaurantFilter__container-header-icon {
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: none;

  &:hover {
    background-color: #ef3f3f;
  }

  @media (max-width: 765px) {
    display: initial;
  }
}

.restaurantFilter__container-header-icon-active {
  background-color: #ef3f3f;
}

.restaurantFilter__container-main-container {
  background-color: #fff;
  @media (max-width: 765px) {
    position: absolute;
    top: 355px;
    width: 100%;
    left: 0;
    transition: transform 0.3s ease;
    transform: translate(-100%, 0);
  }
}

.restaurantFilter__container-main-container-mobile-active {
  transform: translate(0, 0);
}

.restaurantFilter__container-main-container-cuisines {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.restaurantFilter__container-main-container-cuisines-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.restaurantFilter__container-main-container-cuisines-title {
  font-size: 18px;
  font-weight: 700;
}

.restaurantFilter__container-main-container-cuisines-clear {
  font-size: 18px;
  font-weight: 700;
  background-color: #ef3f3f;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
}

.restaurantFilter__container-main-container-cuisines-checks {
  display: flex;
  flex-direction: column;
}

.restaurant-filter-filter-Checkbox {
  margin-right: 5px;
}

.restaurantFilter__container-main-container-stars {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.restaurantFilter__container-main-container-stars-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.restaurantFilter__container-main-container-stars-title {
  font-size: 18px;
  font-weight: 700;
}

.restaurantFilter__container-main-container-stars-clear {
  font-size: 18px;
  font-weight: 700;
  background-color: #ef3f3f;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
}

.restaurantFilter__container-main-container-stars-radios {
  display: flex;
  flex-direction: column;
}
