.popular-restaurant {
  display: flex;
  flex-direction: column;
  padding: 10px;
  @media (min-width: 765px) {
    padding: 40px;
  }
}

.popular-restaurant-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  gap: 10px;

  @media (min-width: 765px) {
    flex-direction: row;
  }
}

.popular-restaurant-title {
  font-size: 20px;
}

.popular-restaurants-buttons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.popular-restaurants-buttons-text {
  padding: 10px;
  background-color: lightgray;
  cursor: pointer;
}

.popular-restaurants-buttons-text-selected {
  background-color: #ef3f3f;
  color: white;
}

.popular-restaurant-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
