.sign-in-page {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sign-in-page-title {
  font-weight: 700;
  font-size: 30px;
}

.sign-in-page-form {
  background-color: sandybrown;
  width: 60%;
  min-width: 600px;

  @media (max-width: 768px) {
    width: 90%;
    min-width: 370px;
  }
}

.sign-in-page-form-input-container {
  display: flex;
  flex-direction: column;
}

.sign-in-page-form-label {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.sign-in-page-form-text-input {
  height: 40px;
  padding-left: 20px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  background-color: #ffbbbb;

  &::placeholder {
    color: #ef3f3f;
  }
}

.sign-in-page-form-input-subcontainer {
  display: flex;
  justify-content: space-between;
}

.sign-in-page-form-text-input-id-text {
  width: 69%;
}

.sign-in-page-form-text-input-id-select {
  width: 29%;
  color: #ef3f3f;
}

.sign-in-page-form-text-input-birth-select {
  width: 32%;
  color: #ef3f3f;
}
