.restauranAdminView__itemTitle {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.restauranAdminView__itemList {
  display: block;
  font-size: 18px;
  list-style: none;
}

.restaurantAdminView__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.restaurantAdminView__itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  flex-grow: 1;
}

.restaurantAdminView__itemPrice {
  margin-top: 5px;
}

.restaurantAdminView__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #ef3f3f;
  }
}

.restaurantAdminView_new_dish_form_container {
  width: 100%;
}

.restaurantAdminView_new_dish_form_input {
  padding-left: 5px;
  border-radius: 5px;
  border: 1px gray solid;
  width: calc(50% - 35px);
}

.restaurantAdminView_new_dish_form_submit {
  border-radius: 5px;
  background-color: #ef3f3f;
  color: white;
  border: none;
  padding: 0 5px;
  width: 64px;
}

.restaurantAdminView_dish_category_header {
  display: flex;
  gap: 30px;
}
