.infoFlow__container{
    text-align: center;
    padding: 10px;
    background-image: url('./assets/pexels-karolina-grabowska-4199098.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    @media (min-width:765px) {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-position: top;
        background-size:cover;
    }

    @media (min-width:1000px) {
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 30px;
        background-attachment: initial;
    }
}
.infoFlow__title {
    h3 {
        margin-bottom: 0px;
    }

    @media (min-width:765px) {
        font-size: 30px;
        h3 {
            font-size: 30px;
        }
        p{
            align-self: center;
            max-width: 700px;
            font-size: 18px;
            margin-top: 0;
        }
    }
    @media (min-width:1000px) {
        h3 {
            font-size: 35px;
        }
        p{
            font-size: 20px;
        }
    }
}

.infoFlow__text {
    p {
        padding: 5px;
        background-color: rgba(238, 237, 236, 0.3);
    }
    @media (min-width:765px) {
        align-self: center;
        max-width: 700px;
        font-size: 18px;
        margin-top: 0;
    }
    @media (min-width:1000px) {
        font-size: 20px;
    }
}

.infoFlow__card__container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (min-width:765px) {
        flex-direction: row;
        max-width: 600px;    
        gap: 50px;
    }
    @media (min-width:1000px) {
        gap: 70px;
    }
}

.flowInfo__icons {
    width: auto;
    height: 5vh;

    @media (min-width:765px) {
        max-height: 50px;
    }
    @media (min-width:1000px) {
        height: 500px;
    }
}

.infoFlow__card {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    box-shadow: 1px 1px 10px gray;

    @media (min-width:765px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 130px;
        max-width: 90px;
        padding: 15px;
        p {
            font-size: 12px;
            max-height: 70px;
            padding-top: 5px;
        }
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .infoFlow__container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-position: top;
        background-size:cover;
    }

    .infoFlow__title h3{
        font-size: 30px;
    }
    .infoFlow__text p{
        align-self: center;
        max-width: 700px;
        font-size: 18px;
        margin-top: 0;
    }
    .infoFlow__card__container {
        flex-direction: row;
        max-width: 600px;    
        gap: 50px;
    }
    .infoFlow__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 130px;
        max-width: 90px;
        padding: 15px;
    }
    .infoFlow__card p{
        font-size: 12px;
        max-height: 70px;
        padding-top: 5px;
    }
    .flowInfo__icons {
        max-height: 50px;
    }
}

@media(min-width: 1025px) {
    .infoFlow__container{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-size: cover;
        background-attachment: initial;
    }

    .infoFlow__title h3{
        font-size: 35px;
    }
    .infoFlow__text p{
        align-self: center;
        max-width: 700px;
        font-size: 20px;
        margin-top: 0;
    }
    .infoFlow__card__container {
        flex-direction: row;
        max-width: 600px;    
        gap: 70px;
    }
    .infoFlow__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 130px;
        max-width: 90px;
        padding: 15px;
    }
    .infoFlow__card p{
        font-size: 12px;
        max-height: 70px;
        padding-top: 5px;
    }
    
    .flowInfo__icons {
        height: 500px;
    }
}