.container-imageheader {
  height: 200px;

}

.imageHeader {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  object-fit: cover;

}
.checkout-container__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
  padding: 20px;
}

@media (min-width:700px){
  .checkout-container {
   margin-top: 30px;  
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .checkout-container__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    
  }
  .checkout-container__body {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}
