.restaurant-options {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 5px 1px lightgrey;
  padding: 0 10px;
}

.restaurant-options-option {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.restaurant-options-option-text {
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.restaurant-options-option-radio {
  display: none;
}

.restaurant-options-option-selected {
  color: #ef3f3f;
  border-bottom: solid 3px #ef3f3f;
}
