.UpdatePhotos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;

  h3 {
    text-align: center;
    font-size: 18px;
  }

  input[type="file"] {
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(238, 237, 236);
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .newRestaurantForm__error {
    color: #ef3f3f;
    font-weight: 700;
  }

  button[type="submit"] {
    background-color: #ef3f3f;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: white;
      color: #ef3f3f;
      border: 1px solid #ef3f3f;
    }
  }

  @media (min-width: 768px) {
    font-size: 20px;

    input[type="file"] {
      font-size: 18px;
    }

    button[type="submit"] {
      font-size: 18px;
    }
  }
}

.updatePhotos__heading {
  margin-top: 15px;
}

.updatePhotos__submitButton_container {
  display: flex;
  justify-content: center;
}
.updatePhotos__submitButton {
  margin: 15px auto;
}
