.generalAdminView__container {
  background-color: #f0f0f0;
  display: flex;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px 1px lightgrey;
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 18px;
    @media (min-width: 765px) {
      text-align: left;
      font-size: 20px;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.generalAdminView__left_container {
  width: 300px;
  height: 100%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.generalAdminView__image_container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.generalAdminView__image {
  height: 100%;
}

.generalAdminView__right_container {
  padding: 15px;
  width: calc(100% - 300px);
  border-left: 1px grey solid;

  @media (max-width: 800px) {
    width: 100%;
    border-left: none;
    border-top: 3px solid grey;
  }
}

.generalAdminView__list li.active {
  background-color: darkgray;
}

.generalAdminView__list {
  list-style: none;
  margin: 15px;
  padding: 0;

  li {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;

    &:hover {
      background-color: #ef3f3f;
      color: white;
    }
  }
}

-------------------------------------------------------------
  .generalAdminView__flex {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 765px) {
    margin-top: 15px;
    flex-direction: row;
  }
}

.generalAdminView__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.generalAdminView__error {
  color: #ef3f3f;
  font-weight: 700;
}

.generalAdminView__article {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 5px;
  border: 2px solid lightgray;
  background-color: rgb(206, 204, 201);
  border-radius: 5px;
  padding: 10px;

  span {
    font-weight: 700;
    font-size: 20px;
  }

  ul {
    padding: 0;
  }
}

.generalAdminView__details {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 75px;

  @media (min-width: 765px) {
    font-size: 20px;
  }
}

.generalAdmin__span {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.generalAdminView__intro {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
