.headerNavBar {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  gap: 15px;
  height: 35px;
  position: relative;

  select {
    cursor: pointer;
  }

  @media (min-width: 769px) {
    height: 70px;
    justify-content: space-around;
    span {
      font-size: 20px;
    }
  }

  @media (min-width: 1000px) {
    height: 80px;
  }
  span {
    font-size: 25px;
  }
}

.logo__container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.logotipo {
  aspect-ratio: 1/1;
  height: 90%;
  padding: 3px;
}

.header__title {
  margin-top: 5px;
  padding-left: 5px;
  @media (min-width: 769px) {
    margin-top: 10px;
    font-size: 25px;
  }
  @media (min-width: 1000px) {
    font-size: 30px;
  }
}

.logo {
  @media (min-width: 769px) {
    width: 40px;
    height: 40px;
    border-radius: 75px;
  }
  @media (min-width: 1000px) {
    width: 45px;
    height: 45px;
  }
}

.header__text {
  display: none;
}

.header__textButtons {
  gap: 15px;
  a {
    text-decoration: none;
    color: black;
  }
  .active {
    color: #ef3f3f;
  }
  span:hover {
    background-color: darkgray;
    cursor: pointer;
  }
}

.header__icons {
  :hover {
    cursor: pointer;
    background-color: darkgray;
  }
}

.header__personIcon {
  margin: 0px 5px;
  @media (min-width: 769px) {
    height: 25px;
    width: auto;
    align-self: center;
  }
}

.header__optionLists {
  display: none;
  margin: 0px 5px;
}

.currencyList {
  border: none;
  background-color: darkgray;
  height: 30px;
  margin: 0px 5px;
}

.languageList {
  border: none;
  background-color: darkgray;
  height: 30px;
  margin: 0px 5px;
}
.locationList {
  border: none;
  background-color: darkgray;
  height: 25px;
  width: 45px;
  margin: 0px 5px;
  @media (min-width:769px) {
    height: 30px;
    width: 50px;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  @media (min-width: 769px) {
    span {
      padding: 0px 5px;
    }
  }
  @media (min-width: 1000px) {
    span {
      padding: 0px 10px;
    }
  }
}

.header__gearIcon {
  @media (min-width: 769px) {
    display: none;
  }
}

.header__listIcon {
  @media (min-width: 769px) {
    display: none;
  }
}

.header__text {
  @media (min-width: 769px) {
    display: block;
  }
}

.header__optionLists {
  @media (min-width: 769px) {
    display: block;
  }
}

.header__textButtons {
  @media (min-width: 769px) {
    display: flex;
    align-self: center;
  }
}

.navbar__logo{
  height: 30px;
  margin: 1px;
  color:  black;
  text-decoration: none;
  :hover {
    background-color: darkgray;
    cursor: pointer;
  }
  @media (min-width: 769px) {
    height: 70px;
  } 
  @media (min-width: 1000px) {
    height: 80px;
  }
}
.active {
  color: #ef3f3f;
}