.headerNavBar {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  gap: 15px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 999;

  select {
    cursor: pointer;
  }

  @media (min-width: 769px) {
    justify-content: space-around;
  }
}

.navbar-logo {
  height: 70px;
  margin: 1px;
  color: black;
  text-decoration: none;
  :hover {
    background-color: darkgray;
    cursor: pointer;
  }
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logotipo {
  aspect-ratio: 1/1;
  height: 90%;
  padding: 3px;
}

.header-title {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 25px;
}

.header-textButtons {
  a {
    text-decoration: none;
    color: black;
  }

  .active {
    color: #ef3f3f;
  }

  span:hover {
    background-color: darkgray;
    cursor: pointer;
  }

  @media (min-width: 769px) {
    display: flex;
    align-self: center;
  }
}

.header-text {
  display: none;
  font-size: 25px;

  @media (min-width: 769px) {
    display: block;
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  @media (min-width: 769px) {
    span {
      padding: 0px 5px;
    }
  }
  @media (min-width: 1000px) {
    span {
      padding: 0px 10px;
    }
  }
}

.location-list {
  border: none;
  background-color: darkgray;
  height: 25px;
  margin: 0px 5px;
  display: none;

  @media (min-width: 769px) {
    height: 30px;
    width: 50px;
    display: block;
  }
}

.header-optionLists {
  display: none;
  margin: 0px 5px;

  @media (min-width: 769px) {
    display: initial;
  }
}

.language-list {
  border: none;
  background-color: darkgray;
  height: 30px;
  margin: 0px 5px;
}

.header-list-icon {
  cursor: pointer;
  @media (min-width: 769px) {
    display: none;
  }
}

.header-icons {
  height: 35px;
  width: 35px;

  :hover {
    cursor: pointer;
    background-color: darkgray;
  }
}

.header-person-icon {
  margin: 0px 5px;

  @media (min-width: 769px) {
    height: 30px;
    width: auto;
    align-self: center;
  }
}
