.restaurantInfoBanner__container {
    background-image: url('./assets/scott-webb-UjupleczBOY-unsplash.jpg');
    text-align: center;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: bottom;
}
.restaurantInfoBanner__logo {
    height: 50px;
    width: 50px;
    background-color: gold;
    padding: 2px;
    border-radius: 75px;
}
.restaurantInfoBanner__text {
    background-color: rgba(238, 237, 236, 0.3);
    width: fit-content;
    margin-top: 10px;
}

@media (min-width: 769px){
    .restaurantInfoBanner__container {
        padding-top: 20px;
    }
    .restaurantInfoBanner__logo {
        width: 75px;
        height: 75px;
    }
    .restaurantInfoBanner__text{
        font-size: 20px;
    }
}
@media (min-width: 1023px){
    .restaurantInfoBanner__container {
        padding-top: 30px;
    }
    .restaurantInfoBanner__logo {
        width: 100px;
        height: 100px;
    }
    .restaurantInfoBanner__text{
        font-size: 24px;
    }
}