.newDishCategoryForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  label {
    margin-bottom: 10px;
  }

  input,
  select,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;

    &:focus {
      outline: none;
      border-color: #ef3f3f;
    }
  }

  button[type="submit"] {
    background-color: #ef3f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;

    &:hover {
      background-color: #d83636;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 800px;
  }
}
