.newDishCategoryForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  
  label {
    font-weight: 700;
    font-size: 18px;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .error-message {
    color: #ef3f3f;
    font-size: 16px;
    margin: 0;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(17, 82, 147);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: rgb(20, 104, 184);
    }
  }
}
