.crrucel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;   
}

.carrucel-list {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.food-type {
    width: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-img {
    width: 8rem;
    height: 8rem;
}

.food-type__image{
    border-radius: 1rem;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}

.food-type__item {
    margin-top: 0.7rem;
    margin-bottom: 0;
}

.food-type__text {
    margin-top: 0;
    color: #A1A1A1;
}
