.form-add-address {
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form-header {
  display: flex;
  justify-content: space-between;
}
.add-address-title {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #1a202c;
}

.form-add-address-label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-add-address-input {
  padding: 10px;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-button-add {
  background-color: #ef3f3f;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.form-add-address-error {
  color: red;
}
