.restaurant-view-recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.restaurant-view-recommended-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.restaurant-view-recommended-title {
  font-size: 20px;
}

.restaurant-view-recommended-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
