
.container-main {
    border: 5px #F6F8FA solid;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    
    
}

.container-main__title {
    font-size: 18px;
}

.payment-form {
    border: 2px #F6F8FA solid;
    font-size: 15px;
    
}
.payment-header {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    padding-left: 10px;
    border-bottom: 2px #F0F0F0 solid;

}
.payment-header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-header__card {
    padding-left: 5px;
    font-weight: 400;
}
.info-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.info-card__title {
    margin-bottom: 0;
    margin-top: 10px;
}

.info-card__input {
    width: 100%;
    border: 2px #F0F0F0 solid;
    border-radius: .2rem;
    height: 2rem;
    
}

.container-input {
    display: flex;
    border: 2px #F0F0F0 solid;
    padding-right: 3px;
    border-radius: .2rem;
    height: 2rem;

}
.container-input__box {
    width: 100%;
    border: none;
}
.icon-container {
    width: 30%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input__logo {
    width: 100%;
    padding-right: 2px;
}
.form-card {
    margin: 10px;
    margin-top: 5px;
    
    justify-content: space-between;
   
    gap: 10px;
    
}
.form-card__info{
   width: 100%;
}
.form-card__input {
    width: 100%;
    border: 2px #F0F0F0 solid;
    border-radius: .2rem;
    height: 2rem;
}
.make-payment {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 2rem;
    padding-bottom: 10px;    
}
.make-payment__button {
    background-color: #EF3F3F;
    color: white;
    border: none;
    width: 8rem;
    height: 2rem;
}
.form-select{
    margin-top: 10px;
    display: flex;
    flex-direction: column;  
    gap: 10px; 
}
.payment-type{
    display: flex;
    border: 2px #F0F0F0 solid;
    background-color: #F9F9F9;
    padding-left: 5px;   
}
.payment-type__text {
    margin-left: 10px;
} 

@media(min-width: 765px){
    .container-main {
        width: 765px;
    }
}

@media(min-width: 1000px){
    .form-card {
        display: flex;

    }
    
}   
