.payment-container {
  box-shadow: 0 2px 5px 1px lightgrey;
  padding: 20px;
  margin-top: 20px;
}

.payment-container__init-title {
  font-size: 32px;
  font-weight: 700;
}

.payment-content {
  border: 2px #f6f8fa solid;
  font-size: 15px;
}
.payment-content__header {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding-left: 10px;
  border-bottom: 2px #f0f0f0 solid;
}
.payment-content__header--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-content__header--paragraph {
  padding-left: 5px;
  font-weight: 400;
}
.payment-form {
  padding: 0 10px;
  margin-top: 10px;
}
.payment-form__paragraph {
  margin-bottom: 0;
  margin-top: 10px;
}
.payment-form__input-name {
  width: 100%;
  border: 2px #f0f0f0 solid;
}
.payment-card-info {
  display: flex;
  border: 2px #f0f0f0 solid;
}
.payment-card-info__number {
  width: 80vw;
  border: none;
}
.payment-card-info__images {
  width: 5rem;
  padding-right: 2px;
}
.payment__form-card {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-card__input {
  width: 15rem;
  border: 2px #f0f0f0 solid;
}
.button-payment {
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 2rem;
  padding-bottom: 10px;
}
.button-payment__make-pay {
  background-color: #ef3f3f;
  color: white;
  border: none;
  width: 8rem;
  height: 2rem;
}
.payment-form-way-pay {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.type__payment {
  display: flex;
  border: 2px #f0f0f0 solid;
  background-color: #f9f9f9;
  padding-left: 5px;
}
.type-payment-text {
  margin-left: 10px;
}

@media (min-width: 768px) {
}
