.restaurant-list {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.restaurant-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.restaurant-list-buttons {
  display: flex;
  gap: 10px;
}

.restaurant-list-buttons-text {
  padding: 10px 15px;
  background-color: lightgray;
  cursor: pointer;
}

.restaurant-list-buttons-text-selected {
  background-color: #ef3f3f;
  color: white;
}

.restaurant-list-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-list-footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.restaurant-list-footer-page-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 1px lightgrey;
}

.restaurant-list-footer-page-button-selected {
  background-color: #ef3f3f;
  color: white;
}

.restaurant-list-footer-page-button-text {
  font-weight: 700;
  font-size: 25px;
}

.restaurant-list-footer-button-icon {
  height: 25px;
}
